<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>250917243354-2md2cvodkd0r24ouacij2dqcoa9nm4no.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.250917243354-2md2cvodkd0r24ouacij2dqcoa9nm4no</string>
	<key>API_KEY</key>
	<string>AIzaSyCxydLycYX-SvKDludMkJ-sbAffryMKJVM</string>
	<key>GCM_SENDER_ID</key>
	<string>250917243354</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.later</string>
	<key>PROJECT_ID</key>
	<string>later-da778</string>
	<key>STORAGE_BUCKET</key>
	<string>later-da778.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:250917243354:ios:a5d6320a060ecbb52758e3</string>
</dict>
</plist>
